body {
    background-color: rgb(86, 106, 189);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.button2{
    padding: 20px 150px; 
    text-align: center;
    background-color: rgb(86, 106, 189); 
    color: rgb(255, 254, 254); 
    border: 2px solid #ffffff;
    border-radius: 10px;
}

#logo {
    height: 300px;
    width: 300px;
}

#logo1 {
    height: 170px;
    width: 170px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.esticadinho{
    padding: 20px 90px; 
    background-color: rgb(86, 106, 189); 
    color: rgb(255, 254, 254); 
    border: 2px solid #ffffff;
    border-radius: 10px;
}

::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
 }


 #sininho {
    height: 30px;
    width: 30px;
 }