body {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to top left, rgb(61, 77, 138), rgb(86, 106, 189), rgb(63, 82, 155), rgb(68, 85, 150));
    height: 960px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    text-align: center;
    width: 384px;
}

::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
}

#logo {
    height: 200px;
    width: 300px;
}

#logo1 {
    height: 70px;
    width: 170px;
}

#logo2 {
    height: 145px;
    width: 220px;
}

#logo3 {
    height: 100px;
    width: 180px;
    padding: 35px;
}

#logo4 {
    height: 90px;
    width: 150px;
}

#seta{
    height: 25px;
    width: 35px;
}

#sininho {
    height: 30px;
    width: 30px;
    padding: 0px;
    margin: 0px;
}

#casa1 {
    height: 60px;
    width: 60px;
}

#flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#flex2 {
    display: flex;   
    align-items: stretch;
    justify-content: center;

}

#flex3 {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

#flex4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#flex5 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
}

#flex6 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#flex7 {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#flex-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#flex-container2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    width: 30px;
}

#padding {
    margin: 0px;
    border: 0px;
    padding: 20px;
}

#button1 {
    padding: 20px 155px;
    text-align: center;
    background-color: rgb(86, 106, 189);
    color: rgb(255, 254, 254);
    border: 2px solid #ffffff;
    border-radius: 10px;
}

#button2 {
    padding: 13px 165px;
    text-align: center;
    background-color: rgb(86, 106, 189);
    color: rgb(255, 254, 254);
    border: 2px solid #ffffff;
    border-radius: 10px;
}

#button3 {
    padding: 20px 165px;
    text-align: center;
    background-color: rgb(86, 106, 189);
    color: rgb(255, 254, 254);
    border: 2px solid #ffffff;
    border-radius: 10px;
}

#button4 {
    padding: 20px 145px;
    text-align: center;
    background-color: rgb(86, 106, 189);
    color: rgb(255, 254, 254);
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.esticadinho {
    padding: 20px 90px;
    background-color: rgb(86, 106, 189);
    color: rgb(255, 254, 254);
    border: 1px solid #cecccc;
    border-radius: 10px;
}

.esticadinho2 {
    padding: 13px 90px;
    background-color: rgb(86, 106, 189);
    color: rgb(255, 254, 254);
    border: 1px solid #cecccc;
    border-radius: 10px;
}

#esqueceuSenhaa {
    text-align: right;
}

.quadradinho1 {
    background-color: rgb(86, 106, 189);
    border: 1px solid #cecccc;
    border-radius: 10px;
    padding: 10px;
    margin: 14px;
    width: 120px;
    height: 110px;
}

.quadradinho2 {
    background-color: rgb(86, 106, 189);
    border: 1px solid #cecccc;
    border-radius: 10px;
    padding: 5px;
    margin: 0px;
    width: 350px;
    height: 60px;
    justify-content: flex-start;
}

.quadradinho3 {
    background-color: rgb(86, 106, 189);
    border: 1px solid #cecccc;
    border-radius: 10px;
    padding: 10px;
    margin: 0px;
    width: 50px;
    height: 30px;
}

#pagina {
    padding: 0px;
    margin: 10px;
}

a:link {
    color: white;
    text-decoration: none;
  }

a:hover {
    color: rgb(32, 13, 175);
}

.icone1{
   width: 50px; 
   height: 50px;
}

.icone2{
    width: 50px; 
    height: 50px;
    padding: 0px;
    margin: 0px;
 }

.imgTelaInicial{
    width: 70px;
}

.imgMapa{
    width: 20px;
}

.imgTelaInfo{
    width: 50px;
}

.dados {
    align-items: left;
    text-align: left;
}

#fonte{
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

.nome{
    padding: 0px;
    margin: 0px;
}

.branca{
    background-color: #f7f5f5;
    color: black;
   border-radius: 10px;
}

