/*Greralzão do site, é o que deixa o fundo azul com efeito*/
body {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to top left, rgb(61, 77, 138), rgb(86, 106, 189), rgb(63, 82, 155), rgb(68, 85, 150));
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    text-align: center;
}

/* Éo que deixa as letras dentro da caixa do imput branca*/
::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
}

/*Esse ID foi para arrumar o posicionamento da logo, seta e casa na tela telaEdita.html e telaEditarUsuario.html*/
#cabecalhoEditar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

/*Essa classe cuida do tamanho da logo do tremalize nas paginas esqueceusenha.html, esqueceusenha2.html, 
login.html, */
#logo {
    height: 200px;
    width: 300px;
}

/*Essa classe cuida do tamanho da logo do tremalize e não está sendo ultilizada*/
#logo1 {
    height: 70px;
    width: 170px;
}

/*Essa classe cuida do tamanho da logo do tremalize nas paginas cadastro.html, telainformacoesClodoaldo.html,
telainformacoesGilsemara.html, telainformacoesJosevaldo.html, telainformacoesLuiza.html, telainformacoesPedro.html
, telainformacoesRobson.html*/
#logo2 {
    height: 145px;
    width: 220px;
}

/*Essa classe cuida do tamanho da logo do tremalize nas paginas paginaInicial.html, feedback.html. */
#logo3 {
    height: 100px;
    width: 180px;
    padding: 30px 35px 35px 10px;
}

/*Essa classe cuida do tamanho da logo do tremalize nas paginas telaLinha.html, telaChat.html*/
#logo4 {
    height: 90px;
    width: 150px;
}

/*Esse ID foi para arrumar o tamanho da logo na tela telaEdita.html e telaEditarUsuario.html*/
#logoEditar {
    height: 145px;
    width: 220px;
    margin: 20px;
}

/*Essa classe deixa a seta certinho no tamanho padrão do site*/
#seta {
    height: 25px;
    width: 35px;
}

/*Esse ID foi para arrumar o tamanho da seta na tela telaEdita.html e telaEditarUsuario.html*/
#setaEditar {
    margin: 20px;
    height: 25px;
    width: 35px;
}

/*não está sendo usada*/
#sininho {
    height: 60px;
    width: 30px;
}

/*Essa classe deixa a seta certinho no tamanho padrão do site*/
#sininho2 {
    height: 25px;
    width: 20px;
}

/*Essa classe deixa a casa certinho no tamanho padrão do site*/
#casa1 {
    height: 60px;
    width: 60px;
}

/*Esse ID foi para arrumar o tamanho da casa na tela telaEdita.html e telaEditarUsuario.html*/
#casaEditar {
    margin: 5px;
    height: 60px;
    width: 60px;
}

/*essa classe faz os icones ficar no meio*/
#flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#flex2 {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

#flex3 {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

#flex4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#flex5 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
}

#flex6 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#flex7 {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#flex8 {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 1px;
}

/*essa classe alinha o nome com a imagen das estrelas*/
#flex9 {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px 0px;
}

/*Coloco a imagem ao lado da escrita e modifica um pouco com o padding*/
#flex10 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
}

#flex11 {
    display: flex;
    justify-content: flex-start
}

/*essa classe cuida das imagens das estrelas tela feedback*/
.estrelas {
    width: 70px;
    padding: 20px 140px 20px 10px;

}

/*Junta os icones "seta, imagem, e nome" alem de colocar todos no centro*/
#flex-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
}

/**/
#flex-container1 {
    display: flex;
    align-items: stretch;
    gap: 10px;
}

#centralizandoItens {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/**/
#padding {
    margin: 0px;
    border: 0px;
    padding: 20px;
}

/**/
#button1 {
    padding: 20px 155px;
    text-align: center;
    background-color: rgb(86, 106, 189);
    color: rgb(255, 254, 254);
    border: 2px solid #ffffff;
    border-radius: 10px;
}

/**/
#button2 {
    padding: 13px 165px;
    text-align: center;
    background-color: rgb(86, 106, 189);
    color: rgb(255, 254, 254);
    border: 2px solid #ffffff;
    border-radius: 10px;
}

/**/
#button3 {
    padding: 20px 165px;
    text-align: center;
    background-color: rgb(86, 106, 189);
    color: rgb(255, 254, 254);
    border: 2px solid #ffffff;
    border-radius: 10px;
}

/**/
#button4 {
    padding: 20px 145px;
    text-align: center;
    background-color: rgb(86, 106, 189);
    color: rgb(255, 254, 254);
    border: 2px solid #ffffff;
    border-radius: 10px;
}

/**/
#button5 {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #5a66d6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 19px;
}

/**/
.botaoEditar {
    padding: 13px 90px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid #cecccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

/**/
.botaoEditar h4 {
    margin: 5px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center
}

/**/
.botaoTelaEditar {
    display: flex;
    justify-content: center
}

#maquinistaForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botaoFinalizar {
    padding: 13px 90px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid #cecccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

/**/
.esticadinho {
    padding: 20px 90px;
    background-color: rgb(86, 106, 189);
    color: rgb(255, 254, 254);
    border: 1px solid #cecccc;
    border-radius: 10px;
}

/**/
.esticadinho2 {
    padding: 13px 90px;
    background-color: rgb(86, 106, 189);
    color: rgb(255, 254, 254);
    border: 1px solid #cecccc;
    border-radius: 10px;
}

/**/
.esticadinho3 {
    padding: 15px 57px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #5a66d6;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

/**/
#esqueceuSenhaa {
    text-align: right;
    padding: 20px 20px;
}

/**/
.quadradinho1 {
    background-color: rgb(86, 106, 189);
    border: 3px solid white;
    border-radius: 31px;
    padding: 5px;
    margin: 11px;
    width: 120px;
    height: 100px;
    font-size: 11px;
}

/**/
.quadradinho2 {
    background-color: rgb(86, 106, 189);
    border: 1px solid #cecccc;
    border-radius: 10px;
    padding: 5px;
    margin: 0px;
    width: 350px;
    height: 60px;
    justify-content: flex-start;
}

/**/
.quadradinho3 {
    background-color: rgb(86, 106, 189);
    border: 2px solid #cecccc;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    width: 50px;
    height: 15px;
}

.quadradinho4 {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 31px;
    padding: 5px;
    margin: 11px;
    width: 140px;
    height: 100px;
    font-size: 11px;
}

/**/
.quadradinhoLegenda {
    background-color: rgb(86, 106, 189);
    border: 2px solid #cecccc;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    width: 20px;
    height: 15px;
}

/**/
.quadradinhoMapa {
    background-color: rgb(86, 106, 189);
    border: 2px solid #cecccc;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    width: 384px;
    height: 350px;
}

/*Essa classe cuida do tamanho/posição da borda (quadradinho) ao redor das linhas na telaLinha.html*/
.quadradinhoCircular {
    background-color: rgb(86, 106, 189);
    border: 1px solid #cecccc;
    border-radius: 30px;
    padding: 0px;
    margin: 0px;
    width: 350px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.manutencoes{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 31px;
    padding: 5px;
    margin: 11px;
    width: 140px;
    height: 100px;
    font-size: 11px;
}

/**/
#pagina {
    padding: 0px;
    margin: 10px;
}

/**/
a:link {
    color: white;
    text-decoration: none;
}

/**/
a:hover {
    color: rgb(32, 13, 175);
}

/**/
.icone1 {
    width: 50px;
    height: 50px;
}

/**/
.icone2 {
    width: 60px;
    height: 60px;
}

/**/
.imgTelaInicial {
    width: 70px;
}

/**/
.imgMapa {
    width: 20px;
}

/**/
#imgTelaInfo {
    width: 60px;
    height: 60px;
}

/**/
.dados {
    text-align: left;
    padding: 10px;
    margin: 10px;
    font-size: 13px;
    color: white;
}

/**/
#fonte {
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

/*Essa classe cuida do tamanho dos nomes dos maquinistas na telaChat.html*/
.nome {
    padding: 0px;
    margin: 0px;
    display: flex;
    padding-left: 1rem;
}

/*Essa classe cuida do tamanho/posição das linhas na telaLinha.html*/
.text {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

/**/
.meio1 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    padding-left: 0.8rem;
}

/**/
.meio2 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    padding-left: 1rem;
    justify-content: flex-end
}

/**/
.meio3 {
    width: 20%;
}

/**/
.meio4 {
    width: 85%;
    text-align: center;
    justify-content: center;
}

/**/
.meio5 {
    width: 10%;
    padding: 0px;
    margin: 0px;
    display: flex;
}

/**/
.meio6 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around
}

/*Essa classe cuida dos fundos brancos da tela feedback*/
.branca {
    background-color: #f7f5f5;
    color: black;
    border-radius: 30px;
    padding: 0px 10px 0px 10px;
}

/*Essa classe cuida dos titulos dos nomes da tela feedback*/
.branca h3 {
    padding: 0px 0px;
    margin: 0px;

}

/*Essa classe cuida dos textos dos feedback da tela feedback*/
.branca p {
    height: 100px;
    padding: 0px 10px 40px 0px;
    align-items: baseline;
}

/**/
#josevaldo {
    width: 60px;
    height: 60px;
    margin: 10px;
    padding: 5px;
}

/**/
#nome1 {
    font-size: 18px;
    font-family: 'bold Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/**/
#entregar {
    width: 25px;
    height: 30px;
}

/* Essa classe cuida das escritas e titulo que ficam dentro da aba na paginaInicial.html */
.notificacoes {
    height: 100%;
    width: 50%;
    position: absolute;
    background-color: #4557a1;
    color: #ffffff;
    transition: 0.5s ease;
    transform: translateX(-105%);
}

/* Essa classe cuida do titulo que ficam dentro da aba na paginaInicial.html */
.titulo {
    color: #ffffff;
    font-weight: 50px;
    text-align: right;
    padding: 30 15 15px;
    pointer-events: none;
}

/* Essa classe cuida do "botão" que trás a aba na paginaInicial.html */
.noticacao {
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

/* Essa classe cuida da borda que está em volta do "botão" na paginaInicial.html */
.toggle {
    position: absolute;
    top: 20px;
    left: 45px;
    height: 30px;
    width: 30px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #3b4b8b;
    box-shadow: 0 0 5px #ffffff;
}

.toggle2 {
    position: relative;
    bottom: 20px;
    left: 170px;
    height: 40px;
    width: 40px;
    border: 1px solid #cecccc;
    border-radius: 50%;
    background-color: #3b4b8b;
}

/* Quando esse input estiver "marcado" essa classe fará a transição da aba na paginaInicial.html */
input:checked~.notificacoes {
    transform: translateX(0);
    box-shadow: 0 0 4px #ffffff;
}

/* Essa classe cuida da escrita que está dentro da aba na paginaInicial.html */
.noti {
    font-weight: 400;
    font-size: 14px;
    color: #fefefe;
    padding: 0 0 20px;
    margin: 0px;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

/* Essa classe cuida do titulo que está dentro da aba na paginaInicial.html */
.tituloNoti {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    color: #fefefe;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

/**/
.mensagem {
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 20px;
    max-width: 70%;
    font-weight: bold;
}

/**/
.mensagem:nth-child(1) {
    align-self: flex-end;
}

/**/
.mensagem:nth-child(3) {
    align-self: flex-end;
}

/**/
.container-mensagens {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    height: 58%;
    padding: 0 15px 50px 15px;
}

/*Essa classe cuida do tamanho/posição da imagem da aba de pesquisa na telaLinha.html*/
.abaPesquisa {
    width: 380px;
    height: 55px;
    align-items: center;
    padding: 33 0 33px;
}

/*Essa classe cuida do tamanho/posição da div azul na telaLinha.html*/
.linhaAzul {
    background-color: rgb(61, 77, 138);
    padding: 0px;
    margin: 0px;
    width: 350px;
    height: 5px;
}

/**/
a:hover {
    color: #ffffff;
}

/**/
a:visited {
    color: #ffffff;
}

/**/
a:active {
    color: #ffffff;
}

/**/
.erro {
    color: red;
    font-size: 0.9em;
}

/**/
#foto {
    width: 120px;
    height: 120px;
}

#imgTelaRela {
    width: 70px;
    height: 60px;
}

.secaoRelatorio {
    background-color: #ffffff;
    border-radius: 31px;
    padding: 5px 6px;
    margin: 17px;
}

#cartaoRelatorio {
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 9px;
    padding: 5px 6px;
    margin: 12px;
}

#texto {
    color: #5263aa;
    font-size: 30px;
    font-weight: bold;
}

#texto1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#texto2 {
    color: white;
    font-size: 20px;
}

#texto3 {
    color: white;
    font-size: 10px;
    font-style: italic
}

#texto4 {
    color: rgb(0, 0, 0);
    font-size: 10px;
}

#nomeCircular {
    color: white;
    font-size: 31px;
    font-weight: bold;
}

#tituloInfoRelatorio {
    color: rgb(0, 0, 0);
    font-size: 10px;
}

#blocoPretinho {
    border: 1px solid #000000;
    border-radius: 13px;
}

#iconesPequenos {
    width: 25px;
    height: 25px;
    padding: 1px 15px;
}

#subTexto {
    color: #5263aa;
    font-size: 15px;    
}

#subTexto1 {
    color: #000000;
    font-size: 13px;
    justify-content: flex-start;
    padding: 5px 13px;
    font-weight: bold;
}

#subTexto2 {
    color: #5263aa;
    font-size: 30px;
    justify-content: flex-end;
    padding: 0px 5px;
    font-weight: bold;
}

#subTexto3 {
    color: #000000;
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    padding: 5px 13px;
}

#subTexto4 {
    color: #5263aa;
    font-size: 50px;
    display: flex;
    justify-content: flex-start;
    padding: 5px 60px;
    font-weight: bold;
}

.tempoMedioBloco {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.graficoCombustivel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.litros {
    font-size: 50px;
    font-weight: bold;
    color: #5263aa;
    padding: 5px 15px;
}

/*Essa Classe ajuda para limitar o espaçamento da div que está localizada no cadastro.html*/
.espacamento {
    width: 400px;
    height: 80px;
}

.iconeMais{
    font-size: 35px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#iconeUsuario{
    padding: 20 0 0 0px;
    width: 245px;
    height: 245px;
}

#Margin{
    margin: 0 0 20 0px;
}

.dadosPessoais{
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}