* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxMarcacao {
    background-color: transparent;
    color: white;
    padding: 4px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row
}

.iconeMarcacao {
    padding: 0px;
    width: 20px;
}

.iconeMarcacaoContainer {
     display: flex;
    justify-content: flex-end

}

.imagemMarcacaoImg {
    width: 60px;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
}

  /* Esconde os botões de seleção */
.imagemMarcacao input[type="radio"] {
    display: none;
}

  /* Quando o input é selecionado, aplica a borda */
.imagemMarcacao input[type="radio"]:checked + label img {
    border-color: #566abd;
}


.itemMarcacao {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 0;
  border-bottom: 1px solid #020347;
}

.itemMarcacao:last-child {
  border-bottom: none;
}


body { 
  background: #566abd; color:white; 
}

.lista { 
  max-width:900px; margin:auto; 
}

.card {
  background:#1e293b;
  padding:15px;
  border-radius:10px;
  margin-bottom:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.form-editar {
  background:#23324d;
  padding:20px;
  border-radius:10px;
  margin-top:20px;
}

input, select { 
  padding:8px; 
  width:100%; 
  margin:5px 0; 
}

button { 
  padding:8px 15px; 
  border:none; 
  background:#2563eb; 
  color:white; 
  border-radius:6px; 
  cursor:pointer; 
}
