/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to top left, #3d4d8a, #566abd, #3f52b3);
    color: white;
    min-height: 100vh;
    padding: 1rem;
  }
  
  /* Cabeçalho */
  .cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .cabecalho-item {
    flex: 1;
  }
  
  .centralizado {
    text-align: center;
  }
  
  .direita {
    text-align: right;
  }
  
  .logo {
    height: 80px;
  }
  
  .icone-voltar,
  .icone-casa {
    height: 40px;
    width: 40px;
  }
  
  /* Seções */
  .secao-info, .secao-mapa, .secao-info-adicional {
    margin-bottom: 2rem;
  }
  
  .info-container {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
  }
  
  .info-box {
    background-color: #566abd;
    border: 2px solid #cecccc;
    border-radius: 8px;
    padding: 0.2rem 0.8rem;
    min-width: 10px;
  }
  
  .info-box img {
    width: 8px;
    margin-top: 0.5rem;
  }
  
  .mapa-container {
    background-color: #566abd;
    border: 2px solid #cecccc;
    border-radius: 8px;
    overflow: hidden;
  }

  .imagemLegenda {
    width: 4%;
    display: flex
  }
  
  .secao-info-adicional .info-extra {
    background-color: #566abd;
    border: 2px solid #cecccc;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: row; /* Muda de column para row */
    gap: 1rem; /* Mantém um espaço entre os elementos */
    text-align: center;
    justify-content: center; /* Opcional: centraliza os itens na horizontal */

  }
  
  h2, h3 {
    margin-bottom: 0.2rem;
  }
  
  /* Responsivo */
  @media (max-width: 429px) {
    .info-container {
      flex-direction: column;
      align-items: center;
    }
  
    .logo {
      height: 60px;
    }
  
    .icone-voltar,
    .icone-casa {
      height: 30px;
      width: 30px;
    }
  }
  