* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxMarcacao {
    background-color: transparent;
    color: white;
    padding: 4px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row
}

.iconeMarcacao {
    padding: 0px;
    width: 20px;
}

.iconeMarcacaoContainer {
     display: flex;
    justify-content: flex-end

  }