body {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to top left, rgb(61, 77, 138), rgb(86, 106, 189), rgb(63, 82, 155), rgb(68, 85, 150));
    height: 960px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    text-align: center;
    width: 384px;
}

::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
}

#logo {
    height: 200px;
    width: 300px;
}

#logo1 {
    height: 70px;
    width: 170px;
}

#logo2 {
    height: 145px;
    width: 220px;
}

#logo3 {
    height: 100px;
    width: 180px;
    padding: 30px 35px 35px 10px;
}

#logo4 {
    height: 90px;
    width: 150px;
}

#seta {
    height: 25px;
    width: 35px;
}

#sininho {
    height: 60px;
    width: 30px;
}

#sininho2 {
    height: 25px;
    width: 20px;
}

#casa1 {
    height: 60px;
    width: 60px;
}

#flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#flex2 {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

#flex3 {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

#flex4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#flex5 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
}

#flex6 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#flex7 {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#flex8 {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 1px;
}

#flex9 {                        /*essa classe alinha o nome com a imagen das estrelas*/
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px 0px;
}
.estrelas{                                     /*essa classe cuida das imagens das estrelas tela feedback*/
    width: 70px;
    padding: 20px 140px 30px 10px;
    

}
#flex-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
}

#flex-container1 {
    display: flex;
    align-items: stretch;
    gap: 10px;
}

#padding {
    margin: 0px;
    border: 0px;
    padding: 20px;
}

#button1 {
    padding: 20px 155px;
    text-align: center;
    background-color: rgb(86, 106, 189);
    color: rgb(255, 254, 254);
    border: 2px solid #ffffff;
    border-radius: 10px;
}

#button2 {
    padding: 13px 165px;
    text-align: center;
    background-color: rgb(86, 106, 189);
    color: rgb(255, 254, 254);
    border: 2px solid #ffffff;
    border-radius: 10px;
}

#button3 {
    padding: 20px 165px;
    text-align: center;
    background-color: rgb(86, 106, 189);
    color: rgb(255, 254, 254);
    border: 2px solid #ffffff;
    border-radius: 10px;
}

#button4 {
    padding: 20px 145px;
    text-align: center;
    background-color: rgb(86, 106, 189);
    color: rgb(255, 254, 254);
    border: 2px solid #ffffff;
    border-radius: 10px;
}

#button5 {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #5a66d6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 19px;
}

.esticadinho {
    padding: 20px 90px;
    background-color: rgb(86, 106, 189);
    color: rgb(255, 254, 254);
    border: 1px solid #cecccc;
    border-radius: 10px;
}

.esticadinho2 {
    padding: 13px 90px;
    background-color: rgb(86, 106, 189);
    color: rgb(255, 254, 254);
    border: 1px solid #cecccc;
    border-radius: 10px;
}

.esticadinho3 {
    padding: 15px 57px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #5a66d6;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

#esqueceuSenhaa {
    text-align: right;
}

.quadradinho1 {
    background-color: rgb(86, 106, 189);
    border: 3px solid white;
    border-radius: 31px;
    padding: 5px;
    margin: 11px;
    width: 120px;
    height: 100px;
    font-size: 11px;
}

.quadradinho2 {
    background-color: rgb(86, 106, 189);
    border: 1px solid #cecccc;
    border-radius: 10px;
    padding: 5px;
    margin: 0px;
    width: 350px;
    height: 60px;
    justify-content: flex-start;
}

.quadradinho3 {
    background-color: rgb(86, 106, 189);
    border: 2px solid #cecccc;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    width: 50px;
    height: 15px;
}

.quadradinhoLegenda {
    background-color: rgb(86, 106, 189);
    border: 2px solid #cecccc;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    width: 20px;
    height: 15px;
}

.quadradinhoMapa {
    background-color: rgb(86, 106, 189);
    border: 2px solid #cecccc;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    width: 384px;
    height: 350px;
}

#pagina {
    padding: 0px;
    margin: 10px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(32, 13, 175);
}

.icone1 {
    width: 50px;
    height: 50px;
}

.icone2 {
    width: 60px;
    height: 60px;
}

.imgTelaInicial {
    width: 70px;
}

.imgMapa {
    width: 20px;
}

#imgTelaInfo {
    width: 60px;
    height: 60px;
}

.dados {
    align-items: left;
    text-align: left;
    padding: 10px;
    margin: 14px;
    font-weight: bold;
}

#fonte {
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

.nome {
    padding: 0px;
    margin: 0px;
    display: flex;
    padding-left: 1rem;
}

.meio1 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    padding-left: 0.8rem;
}

.meio2 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    padding-left: 1rem;
    justify-content: flex-end
}

.meio3 {
    width: 20%;
}

.meio4 {
    width: 85%;
    text-align: center;
    justify-content: center;
}

.meio5 {
    width: 10%;
    padding: 0px;
    margin: 0px;
    display: flex;
}

.meio6 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around
}

/*Essa class cuida dos fundos brancos da tela feedback*/
.branca {                       
    background-color: #f7f5f5;
    color: black;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
}

/*Essa class cuida dos titulos dos nomes da tela feedback*/
.branca h3 {                  
    padding: 0px 0px;   
    margin: 0px;            

}

 /*Essa class cuida dos textos dos feedback da tela feedback*/
.branca p {                          
    height: 100px;
    padding: 0px 30px 60px 60px;
}


#josevaldo {
    width: 60px;
    height: 60px;
    margin: 10px;
    padding: 5px;
}

#nome1 {
    font-size: 18px;
    font-family: 'bold Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#entregar {
    width: 25px;
    height: 30px;
}

/* Essa class cuida das escritas e titulo que ficam dentro da aba na paginaInicial.html */
.notificacoes {
    height: 100%;
    width: 50%;
    position: absolute;
    background-color: #4557a1;
    color: #ffffff;
    transition: 0.5s ease;
    transform: translateX(-105%);
}

/* Essa class cuida do titulo que ficam dentro da aba na paginaInicial.html */
.titulo{
    color: #ffffff;
    font-weight: 50px;
    text-align: right;
    padding: 30 15 15px;
    pointer-events: none;
}

/* Essa class cuida do "botão" que trás a aba na paginaInicial.html */
.noticacao{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

/* Essa class cuida da borda que está em volta do "botão" na paginaInicial.html */
.toggle{
    position: absolute;
    top: 20px;
    left: 45px;
    height: 30px;
    width: 30px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color:#3b4b8b;
    box-shadow: 0 0 5px #ffffff;
}

/* Quando esse input estiver "marcado" essa class fará a transição da aba na paginaInicial.html */
input:checked ~ .notificacoes{
    transform: translateX(0);
    box-shadow: 0 0 4px #ffffff;
}

/* Essa class cuida da escrita que está dentro da aba na paginaInicial.html */
.noti{
    font-size:medium;
    color: #fefefe;
    padding: 6px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}


.mensagem {
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 20px;
    max-width: 70%;
    font-weight: bold;
}

.mensagem:nth-child(1) {
    align-self: flex-end;
}

.mensagem:nth-child(3) {
    align-self: flex-end;
}

.container-mensagens {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    height: 58%;
    padding: 0 15px 50px 15px;
}