* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to top left, #3d4d8a, #566abd, #3f52b3);
    color: white;
    min-height: 100vh;
    padding: 1rem;
  }
  
  .cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .logo {
    height: 80px;
  }
  
  .iconeVoltar,
  .iconeCasa {
    height: 40px;
    width: 40px;
  }
  
  /* Seções */
  .secaoLegenda, .secaoMapa, .secaoInfo {
    margin-bottom: 2rem;
  }
  
  .infoContainer {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
  }
  
  .infoBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #566abd;
    border: 2px solid #cecccc;
    border-radius: 8px;
    padding: 0.2rem 0.8rem;
  }
  
  .infoBox img {
    width: 20px;
    padding: 0.1rem 0.1rem;
  }
  
  .mapaContainer {
    background-color: #566abd;
    border: 2px solid #cecccc;
    border-radius: 8px;
  }

  .secaoInfo .infoExtra {
    background-color: #566abd;
    border: 2px solid #cecccc;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: center;
    justify-content: center; 

  }
  
  h2, h4 {
    margin-bottom: 0.1rem;
  }
  
  /* Responsivo */
  @media (max-width: 429px) {
    .info-container {
      flex-direction: column;
      align-items: center;
    }
  
    .logo {
      height: 60px;
    }
  
    .icone-voltar,
    .icone-casa {
      height: 30px;
      width: 30px;
    }
  }
  